{% extends 'main/base_0.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<!--Block content goes below-->

{% block extra_head %}
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
{% endblock%}
{% block content %}

{% include 'navbar.html' %}
<main role="main" class="container">
  {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}
    <div class="jumbotron">
      <div class="header">
          {{header}}
        </div>
        <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
                <input type="submit" value='Search'/>
        </form>
        <br>
      <div class="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>SR.NO</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>QUANTITY IN STORE</th>
                <th>TIMESTAMP</th>
                <th>LAST UPDATED</th>
                <th>DELETE</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{instance.category}}</td>
                    <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
                    <td><a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a></td>
                    <td>{{instance.timestamp}}</td>
                    <td>{{instance.last_updated}}</td>
                    <td><a href="{% url 'delete_items' instance.id %}">
                            <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
                            Delete
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

    </div>
  </main>



{% endblock %}
